<div class="container">
  <form>
      <div mat-card-avatar class="tp-header-image"></div>
    <h1>Guess the word</h1>
    <hr style=' border: 5px solid #6f42c1;
    border-radius: 5px;'>
    <!-- <div class=""> -->
      <div class="row">
        <div class="col text-center">
          <h4>Attempts <small>{{tries}}/10</small></h4>
          <h1><mark>{{hiddenWord}}</mark></h1>
        </div>
      </div>

      <div class="row">
        <mat-card class="img-card">
          <mat-card-header>
            <mat-card-title>Attempts<small>{{ tries }} / 10</small></mat-card-title>
            <mat-card-subtitle>HTML Basics</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <img mat-card-image src="assets/img/{{tries}}.jpg" alt="hangman-image">
          </mat-card-content>
        </mat-card>
      </div>
    <!-- </div> -->
    <div class="row" *ngIf="win">
      <div class="col text-center">
        <h3 class="win">You Win!</h3>
        <br>
        <button class="btn btn-primary" (click)="reload()">Play Again</button>
      </div>
    </div>
    <div class="row" *ngIf="lost">
      <div class="col text-center">
        <h3 class="lost">Game Over!</h3>
        <h3 class="lost">The word was: <mark>{{word}}</mark></h3>
        <br>
        <button class="btn btn-primary" (click)="reload()">Try Again</button>
      </div>
    </div>
    <div class="button-container" *ngIf="!win && !lost">
      <div class="form-group">
        <input (keyup)='onKey($event)'>
        <label for="input" class="control-label">Guess a letter</label><i
          class="bar"></i>
      </div>
      <div class="col text-center">
        <button class="btn btn-primary" id="btn-{{letter}}"
          (click)="check(letter)" *ngFor="let letter of letters">
          {{letter}}
        </button>
      </div>
    </div>
  </form>
</div>
