/* You can add global styles to this file, and also import other style files */
body {
  background:#DCDCDC;
}

.hangman-img {
  height: 200px;
}

button {
  margin: 8px;
}

.win {
  color: #18d455;
}

.lost {
  color: #e20f15;
}
